<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  const csrftoken = getCookie('csrftoken');
  // or
  //const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  const request = new Request(
    '/demoforms/comment/ajax',
    {
      method: 'POST',
      headers: {'X-CSRFToken': csrftoken},
      mode: 'same-origin' // protects from accepting requests from another domain
    }
  );

  fetch(request).then(function(response) {
    // do stuff with form response
  });
</script>

<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Send message">
</form>
